.header {
  width: 100%;
  padding: 38px 130px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logoContainer span {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
}

.logo {
  width: 32px;
  height: 32px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navList li {
  position: relative;
  display: inline-block;
}

.navList li a,
.navItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
  gap: 2px;
  background: none;
  border: none;
  cursor: pointer;
}

.navList li a:hover,
.navItem:hover {
  color: #007bff;
}

.arrow {
  width: 16px;
  height: 20px;
  margin-left: 2px;
  transition: transform 0.3s;
}

.navItem:hover .arrow {
  transform: rotate(180deg);
}

.closeIcon {
  display: none;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.login {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.loginLogo {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.demo {
  padding: 8px 16px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.demo:hover {
  background: #0056b3;
}

.dropdownMenu {
  position: absolute;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  list-style: none;
  border-radius: 5px;
  width: 180px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownMenu li {
  padding: 10px 15px;
}

.dropdownMenu li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdownMenu li a:hover {
  color: #007bff;
}

.burgerIcon {
  display: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 14px;
  background: rgba(0, 122, 255, 0.1);
}

.burgerIcon img {
  width: 25px;
  height: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
}

@media (max-width: 1280px) {
  .header {
    padding: 20px 50px;
  }
  .navList {
    gap: 15px;
  }

  .authButtons {
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 16px;
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    max-width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .dropdownMenu {
    left: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navOpen {
    display: flex;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .navList li a,
  .navItem {
    color: var(--white);
  }

  .closeIcon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .burgerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login {
    display: none;
  }

  .authButtons {
    margin-left: auto;
    margin-right: 10px;
  }
}
